body,
html {
  height: 95% !important;
}

* {
  box-sizing: border-box !important;
}

.bg-image {
  /* The image used */
  background-image: url('/man-group-women.jpg') !important;

  /* Add the blur effect */
  filter: blur(8px) !important;
  -webkit-filter: blur(8px) !important;

  /* Full height */
  height: 100% !important;

  /* Center and scale the image nicely */
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}

/* Position text in the middle of the page/image */
.bg-text {
  background-color: rgb(0, 0, 0) !important; /* Fallback color */
  background-color: rgba(
    0,
    0,
    0,
    0.4
  ) !important; /* Black w/opacity/see-through */
  color: #ffe0e0 !important;
  font-weight: bold !important;
  border: 3px solid #f1f1f1 !important;
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
  z-index: 2 !important;
  width: 80% !important;
  padding: 20px !important;
  text-align: center !important;
}
